
<div class="image-bar">
  <div class="image-wrapper">
    <img src="/assets/img1.png" alt="Image 1" /> 
    <img src="/assets/img2.png" alt="Image 2" />
    <img src="/assets/img3.png" alt="Image 3" />
    <img src="/assets/img4.png" alt="Image 4" />
    <img src="/assets/img5.png" alt="Image 5" />
    <img src="/assets/img6.png" alt="Image 6" />
    <img src="/assets/img7.png" alt="Image 7" />
    <img src="/assets/img8.png" alt="Image 8" />
    <img src="/assets/img1.png" alt="Image 1" /> 
    <img src="/assets/img2.png" alt="Image 2" />
    <img src="/assets/img3.png" alt="Image 3" />
    <img src="/assets/img4.png" alt="Image 4" />
    <img src="/assets/img5.png" alt="Image 5" />
    <img src="/assets/img6.png" alt="Image 6" />
    <img src="/assets/img7.png" alt="Image 7" />
    <img src="/assets/img8.png" alt="Image 8" />
  </div>
</div>


<div class="auth-container">
    <h1>College Club Portal</h1>
    <h2>Login</h2>
    <input type="email" placeholder="Email" [(ngModel)]="email" />
    <input type="password" placeholder="Password" [(ngModel)]="password" />
    <button (click)="login()">Login</button>
    <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
  </div>
 